@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'layout';
@import 'sass/sections/nav';
@import 'sass/sections/slogan';
@import 'sass/sections/section';
@import 'sass/sections/gallery';
@import 'sass/components/button';
@import 'sass/components/menu-slider';
@import 'sass/components/social-icons-bar';

* {
  font-family: $brand-font;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $light;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  &--flex {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .container {
    &--flex {
      flex-flow: column;
      justify-content: center;
    }
  }
}