.button {
  margin: 10px;
  background: $gold;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  min-width: 200px;
  height: 45px;
  color: #fff;
  font-size: $normal-font-size;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: $dark-grey;
  }
}