.social-icons-bar {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &__item {
        background: $grey;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 20px;
        padding: 10px;
        margin: 2px;

        &--margin{
            margin:0 20px;
        }

        &:hover {
            background: $gold;
        }
    }
    
    &--no-margin{
        margin: 0;
    }
}